In [3]:
import pandas as pd
chart = pd.read_csv('data.csv')
chart['International Reputation'].value_counts()

1.0    16532
2.0     1261
3.0      309
4.0       51
5.0        6
Name: International Reputation, dtype: int64

In [22]:
unique = list(set(chart.song))
len(unique)

top_chart = []
for item in unique:
    dic = dict(song = item, Top_chart = 1)
    top_chart.append(dic)
    
chart_df = pd.DataFrame.from_dict(top_chart)
chart_df.set_index(['song'], inplace=True)
chart_df.head()

                                 Top_chart
song
Infinity 2008                            1
Pick Up The Phone                        1
Rain Over Me                             1
All I Want For Christmas Is You          1
It's Time                                1

In [25]:
chart_df.to_csv('chart.csv', encoding='utf-8', index=True)

In [27]:
test = pd.read_csv('chart.csv')
test.shape

(2851, 2)

In [15]:
import pandas as pd

df = pd.read_csv('55Ksongs.csv')
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [17]:
df.artist.value_counts()

Donna Summer                                    191
Gordon Lightfoot                                189
Bob Dylan                                       188
George Strait                                   188
Alabama                                         187
Cher                                            187
Reba Mcentire                                   187
Loretta Lynn                                    187
Chaka Khan                                      186
Dean Martin                                     186
Neil Young                                      185
Hank Williams Jr.                               185
Cliff Richard                                   184
Indigo Girls                                    184
America                                         184
Nazareth                                        184
Kiss                                            183
Johnny Cash                                     183
Chris Rea                                       182
Bon Jovi                                        181
Dolly Parton                                    180
Fleetwood Mac                                   180
Rolling Stones                                  179
Deep Purple                                     179
Rod Stewart                                     178
Roy Orbison                                     178
The Beatles                                     178
Iggy Pop                                        177
Randy Travis                                    177
James Taylor                                    177
                                               ...
Side A                                           11
Independence Day                                 11
Walk The Moon                                    11
Yukmouth                                         11
Quarashi                                         10
Koes Plus                                        10
Yonder Mountain String Band                      10
Yung Joc                                          9
Xentrix                                           9
Next To Normal                                    9
Yeng Constantino                                  8
Joseph And The Amazing Technicolor Dreamcoat      8
Qntal                                             8
X-Raided                                          7
Young Dro                                         7
Gipsy Kings                                       5
Van Der Graaf Generator                           5
Unknown                                           4
Various Artists                                   3
Soundtracks                                       3
Xavier Naidoo                                     3
Exo                                               3
Eppu Normaali                                     3
Zazie                                             2
Exo-K                                             2
Ungu                                              2
X-Treme                                           1
Zed                                               1
U-Kiss                                            1
Zoe                                               1
Name: artist, Length: 643, dtype: int64

In [35]:

import numpy as np
import requests

In [36]:
url = "https://www.news18.com/photogallery/football/in-pics-fifa-world-cup-2018-round-of-16-france-vs-argentina-1796609-4.html"
scraped = image_scraper.scrape_images(url)

In [37]:
scraped

(0, 0)

In [13]:
image-scraper -m 2 "https://www.gettyimages.com/""

SyntaxError: invalid syntax (<ipython-input-13-ce134449b341>, line 1)

In [ ]:
$ image-scraper -m 2 https://www.gettyimages.com/photos/lionel-messi